{% extends 'RomaricDrigonOrchestraBundle::base.html.twig' %}

{% block title %}
    {{ orchestra_app_title }} - {{ title }}
{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>

    {% block table %}
        {% if no_data == true %}
            {% block no_data %}
                <p>No data to display!</p>
            {% endblock no_data %}
        {% else %}
            <div class="table-responsive">
                <table class="table table-hover">
                    {% block table_header %}
                        <thead>
                            <tr>
                                {% for header in headers %}
                                    <th>{{ header|capitalize }}</th>
                                {% endfor %}
                                {% if actions is not empty %}
                                    {% block action_header %}
                                        <th></th>
                                    {% endblock action_header %}
                                {% endif %}
                            </tr>
                        </thead>
                    {% endblock table_header %}
                    {% block table_body %}
                        <tbody>
                            {% for object in objects %}
                                {% set view = object.viewListing %}
                                <tr>
                                    {% for field in view %}
                                        <td>{{ field }}</td>
                                    {% endfor %}
                                    {% if actions is not empty %}
                                        {% block action_column %}
                                            <th>
                                                <div class="btn-toolbar" role="toolbar">
                                                    {% for action in actions %}
                                                        {% block action_button %}
                                                            <a href="{{ url(action.routeName, {'id': object.id}) }}" class="btn btn-default">{{ action.name }}</a>
                                                        {% endblock action_button %}
                                                    {% endfor %}
                                                </div>
                                            </th>
                                        {% block action_column %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endblock table_body %}
                </table>
            </div>
        {% endif %}
    {% endblock table %}
{% endblock content %}